body {
	text-align: center;
	font-family: 'Martel', serif;
	background-color: black;
}

.container {
	margin: 0 60px;
}

.intro-text h1 {
	color: white;
	font-family: 'Asul', sans-serif;
}

.quote,
.writer {
	line-height: 1.6;
	color: white;
}

.writer {
	font-style: italic;
	font-weight: 400;
}

.quotebox p {
	margin: 20px 0;
}

.intro-text {
	padding-top: 200px;
}

img {
	width: 130%;
}

/******** Media Queries **********/

/* Device-width smaller than 767px */

@media(max-width:767px){

	.container {
		margin: 0;	
	}

	.intro-text {
		padding-top: 0;
	}

	.quotebox {
		padding: 0 40px;
	}

	img {
		width: 100%;
		margin-top: 5px;
	}
}

/* Device-width between 767px and 992px */

@media(min-width:768px){

	.intro-text {
		padding-top: 0;
	}

	.quotebox {
		padding: 0 40px;
	}

	img {
		width: 100%;
		margin-top: 5px;
	}
}

@media(min-width:992px){

	.intro-text {
		padding-top: 0;
	}

	.quotebox {
		padding: 0 200px;
	}

	img {
		width: 100%;
		margin-top: 5px;
	}
}

@media(min-width:1200px){

	.quotebox {
		padding: 0 40px;
	}

	img {
		width: 130%;
		margin-top: 5px;
	}

}
@media(min-width:1200px){
  
  div.intro-text {
		padding-top: 200px;
	}
  
	img {
		width: 130%;
		margin-top: 5px;
	}

}